@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    width: auto;
    height: 90vh;
    background: linear-gradient(45deg, #022064, #0d2451, #0033ab);
    /*グラデーションを定義*/
    background-size: 140% 140%;
    /*サイズを大きくひきのばす*/
    animation: bggradient 20s ease infinite;
    text-align: center;
    font-family: 'Josefin Sans';
    color: rgb(255, 255, 255);
    background-attachment: fixed;
}

@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    animation-name: fadeInAnime;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.introtext {
    animation-name: fadeInAnime;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.maincontent {
    animation-name: fadeInAnime;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.hobby {
    background: #00000021;
    /*背景色の指定*/
    border: #9b9b9b60 2px solid;
    /*境界線の指定 */
    padding: 40px 90px;
    margin: 40px auto;
    width: 30%;
}