@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: #002a8b;
    text-align: center;
    font-family: 'Josefin Sans';
    color: rgb(255, 255, 255);
}

.header {
    animation-name: fadeInAnime;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.introtext {
    animation-name: fadeInAnime;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}