@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    width: auto;
    height: 90vh;
    background: linear-gradient(45deg, #002782, #ffffff, #481212);
    /*グラデーションを定義*/
    background-size: 140% 140%;
    /*サイズを大きくひきのばす*/
    animation: bggradient 20s ease infinite;
    text-align: center;
    font-family: 'Josefin Sans';
    color: rgba(0, 0, 0, 0.659);
}

@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.fadeIn {
    animation-name: fadeInAnime;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hometext {
    animation-name: fadeInAnime;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    background: #ffffff47;
    /*背景色の指定*/
    border: #d2d2d260 2px solid;
    /*境界線の指定 */
    box-shadow: 0 0 0 2px #ffffff3c;
    /*  境界線の外側の指定 */
    padding: 40px 90px;
    margin: 40px auto;
    width: 30%;
}

.hometext p {
    margin: 40px;
    padding: 40px;
}

.cp_link_blue {
	padding: 0.2em 0.4em;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #0033ab 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #0033ab;
}
.cp_link_blue:hover {
	background-position: -100% 0;
	color: #fff;
}

.cp_link_wine {
	padding: 0.2em 0.4em;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #611e1e 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #611e1e;
}
.cp_link_wine:hover {
	background-position: -100% 0;
	color: rgb(234, 227, 0);
}